.login-wrap {
    background: url(../../../assets/images/login.jpg) no-repeat center;
    margin-top: 100px;
    margin-bottom: 90px;
}

.login-wrap h1 {
    color: white;
    font-weight: 600;
}
.login-wrap .form-group {
    color: white;
}
.btn-login {
    margin-right: 8px;
    background: #6351ce;
    color: white;
}
.btn-register {
    background: #6351ce;
    color: white;
}