<div class="page-footer">
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">
        <!-- Grid column -->
        <div class="col-md-3 mb-3">
            <h4 class="text-uppercase footer-links">
                <a routerLink="/contactus">Contact us</a>
            </h4>
        </div>
        <div class="col-md-3 mb-3">
            <h4 class="text-uppercase footer-links">
                <a routerLink="/privacy">Privacy</a>
            </h4>
        </div>
        <div class="col-md-3 mb-3">
            <h4 class="text-uppercase footer-links">
                <a routerLink="/terms">Terms of Service</a>
            </h4>
        </div>
        <div class="col-md-3 mb-3">
            <h4 class="text-uppercase footer-links">
                <a routerLink="/faqs">FAQs</a>
            </h4>
        </div>
    </div>
    <p>Ideas and perspectives you won’t find anywhere else.</p>
    <p style="line-height: 1.7rem">Junction taps into the brains of the world’s most insightful writers and
        storytellers to bring you the smartest takes on topics that matter.
        So whatever your interest, you can always find fresh thinking and unique perspectives.</p>
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 py-5">
            <div class="mb-5 flex-center social-icons-row">
                <!-- Facebook -->
                <a class="fb-ic" href="https://www.facebook.com/Junctioncom-2300869693522785">
                    <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <!-- Twitter -->
                <a class="tw-ic" href="https://twitter.com/">
                    <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <!-- Google +-->
                <a class="gplus-ic" href="https://plus.google.com/">
                    <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <!--Linkedin -->
                <a class="li-ic" href="https://www.linkedin.com/">
                    <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <!--Instagram-->
                <a class="ins-ic" href="https://www.instagram.com/">
                    <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <!--Pinterest-->
                <a class="pin-ic" href="https://www.pinterest.com/">
                    <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
                </a>
            </div>
        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a routerLink="/home"> Junction.com</a>
    </div>
    <!-- Copyright -->

</div>