.article-view-wrapper {
  margin-top: 36px;
}

.example-card {
  max-width: 400px;
  margin-left: 12px;
  margin-right: 12px;
}

.mat-card-avatar {
  height: 60px;
  width: 60px;
}
  
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.example-full-width {
  width:100%;
}
.btn-primary {
  background: #6351ce;
}