.form {
  margin-top: 12px;
}
.example-container {
    display: flex;
    flex-direction: column;
  }

  .example-container > * {
    width: 100%;
  }
  .editor {
    margin-top: 20px;
  }
  
  .btn-primary {
    margin-top: 10px;
    background: #6351ce;
  }