.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

.main-body-content {
  background: url('http://localhost:8080/assets/images/home.jpg') no-repeat;
  width: 100%;
  text-align: center;
  background-size: cover;
  background-position: bottom;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 72px;
}
.main-body-content h1 {
  color: #6351ce;
  font-weight: bold;
  font-size: 60px;
}
.main-body-content p {
  color: #6351ce;
    font-size: 22px;
    max-width: 660px;
    margin: 0 auto 20px;
    font-weight: bold;
    line-height: 1.5;
}
.main-body-content .btn-primary {
  color: #6351ce;
  background-color: transparent;
  border-color: #fffbfb !important;
  outline: none;
  margin-right: 20px;
  margin-top: 20px;
  font-size: 24px;
  padding: 18px 24px;
  font-weight: bold;
  transition: 0.2s background-color;
}
