<div class="container-fluid preview-wrapper">
  <h2 style="text-align: center;">Preview Article</h2>
  <div class="row" id="jumbo" style="">
    <div class="col-md-12 img-wrapper">
      <img [src]="data?.img" style="width:100%;" alt="" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <!-- <h1>{{article?.title}}</h1> -->
      <h3>{{data?.title}}</h3>
    </div>
  </div>

  <div class="row" style="white-space: 'pre-wrap'; font-size: 21px; line-height: 1.58; letter-spacing: -.003em;">
    <div class="col-md-8 col-md-offset-2" style="overflow-wrap: break-word">
      <!-- {{article?.body}} -->
      <div [innerHTML]="data?.body"></div>
    </div>
  </div>

</div>