<div class="container article-main-container">
  <mat-grid-list [cols]="breakpoint" rowHeight="500px" (window:resize)="onResize($event)">
    <mat-grid-tile *ngFor="let article of articleList; let i = index" class="article-card" style="overflow:inherit;">
      <mat-card class="example-card" id={{article._id}} (click)="onArticleClick(article._id)">
        <mat-card-header>
          <img mat-card-avatar [src]="article?.author.google.image.url"/>
          <mat-card-title>{{article.title}}</mat-card-title>
          <mat-card-subtitle>
            <span>{{article?.author.name}}</span>
          </mat-card-subtitle>
          <mat-card-subtitle>
              <mat-chip-list>
                <mat-chip color="primary" selected>{{article.category}}</mat-chip>
              </mat-chip-list>
            </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{article.img}}" alt="Photo of a Shiba Inu" class="article-img-height">
        <mat-card-content>
          <p class="article-body" [innerHTML]="article.body">
          </p>
        </mat-card-content>
        <!-- <mat-icon svgIcon="favorite_border"></mat-icon> -->
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>